@media (min-width: 576px) { ... }


@media (min-width: 768px) {
  .nav-link {
    font-size: 1.1em;
  }

  #top-form {
    max-width: 500px;
  }

  .img-icon {
    display: block;
    max-width: 70px;
    max-height: 70px;
  }
}


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }


@media (min-width: 1400px) { ... }
