* {
  margin: 0;
  padding: 0;
}

#header-fixed {
  background-color: rgba(182, 179, 179, 0.616);
}

.nav-link {
  font-size: 0.9em;
}

#top-form {
  max-width: 310px;
}

.img-icon {
  display: none;
}

.info-main {
  max-width: 850px;
}
